@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
body{
    font-family: 'Poppins', arial;
    font-size: 25px;
    min-height: 98vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

/* navbar */
.zona-superiore{
    display: flex;
    margin: auto;
}
.zona-superiore .img{
    position: absolute;
    top: 0;
    left: 0;
}
.zona-superiore .img img{
    width: 350px;
    height: 225px;
}
.zona-superiore .h1{
    text-align: center;
}
.zona-superiore .home{
    display: none;
}
.zona-superiore .home a{
    text-decoration: none;
    padding: 28px;
    text-align: center;
    display: inline-block;
    font-size: 1.15rem;
    margin: 4px 2px;
    color: black;
}
.zona-superiore .home a:hover{
    text-decoration: underline;
    color: green;
}
.zona-superiore .navigazione{
    padding-right: 4rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
}
.zona-superiore .navigazione ul{
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
}
.zona-superiore .navigazione ul li a{
    text-decoration: none;
    color: black;
}
.zona-superiore .navigazione ul li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: green;
}

.stemma{
    display: none;
}

@media (max-width: 1000px){
    .zona-superiore .img{
        display: none;
    }
    .zona-superiore .home{
        position: absolute;
        top: 2;
        left: 1.25rem;
    }
    .stemma{
        display: block;
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    width: 325px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.4s ease;
}
.card:hover{
    transform: scale(1.05);
}
.card-image{
    width: 100%;
}
.card-image img{
    width: 350px;
    height: 300px;
}
.content{
    padding: 20px;
}
.content h4{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}
.content .center{
    text-align: center;
}
.content .button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #04c004;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3 ease;
}
.content .button:hover{
    background-color: #008000;
}


/*footer section*/
.hr{
    border-top: 2px solid grey;
    width: 100%;
    height: 2.5rem; 
    margin-top: auto;
    text-align: center;
    padding-bottom: 1rem;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    font-size: 1.25rem;
    margin-top: auto;
    text-align: center;
}
